#form-login {
    position: fixed;
    left: 0;
    right: 0;
    top: 48px;
    bottom: 0;
    z-index: 0;
    background-image: url('../../src/assets/img/topbg.jpg');
    background-position: center;
    background-size: cover;
}

#form-register {
    position: fixed;
    left: 0;
    right: 0;
    top: 48px;
    bottom: 0;
    z-index: 0;
    background-image: url('../../src/assets/img/topbg.jpg');
    background-position: center;
    background-size: cover;
}

#form-title {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
}

.auth-card {
    width: 500px;
    height: 300px;
    margin: 100px auto 0;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 14px #FF0000;
    border-radius: 20px;
    background-color: #000;
}

.auth-input-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    background-color: #000;
}

.auth-input-label input {
    background-color: #000 !important;
    border-bottom: 1px solid red;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px; 
}

.button-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    margin-top: 1em;
}

.button-submit {
    border-radius: 20px;
    background-color: #FF0000 !important; 
    font-weight: 1000;
}