canvas {
  grid-column: 1/5;
  grid-row: 1/5;
  padding: 0px;
}

.wrapper {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(30px, auto);
    grid-gap: 0.5em;
    justify-items: stretch;
    align-items: stretch;
    font-family: 'Nunito Sans', sans-serif;
    background: white;
    padding: 0.5em;
    padding-top: 3em;
    height: 100vh;
  }
  
  .wrapper div {
    background:#eee;
    padding: 0.5em;
    text-align: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  #casino-upgrade {
    grid-column: 8/10;
    grid-row: 5/9; 
    background: #48494b;
  }
  
  #itemlist {
    grid-column: 5/7; 
    grid-row: 5/9; 
    background: #3f3f4e;
  }
  
  #loses {
    grid-column: 3/5;
    grid-row: 7/9; 
    background: #3e3d5e;
  }
  
  #wins {
    grid-column: 1/3;
    grid-row: 7/9;
    background: #818380;
  }
  
  #level {
    grid-column: 3/5;
    grid-row: 5/7; 
    background: #777b7e;
  }
  
  #balance {
    grid-column: 1/3;
    grid-row: 5/7;
    background: #3E424B;
  }
  
  #seeother {
    grid-column: 7/9; 
    grid-row: 4; 
    background: #636363;
  }
  
  #decoration {
    grid-column: 5/7;
    grid-row: 3/5; 
    background: #363636;
  }
  
  #description {
    grid-column: 7/10; 
    grid-row: 1/4; 
    background: #322D21;
  }
  
  #share {
    grid-column: 5/7;
    grid-row: 1;
    background: #41424c;
  }
  
  #casinoimg {
    grid-column: 1/5;
    grid-row: 1/5;
    padding: 0px;
  }