.profile {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.profile-content {
    width: 60%;
    background-color: black;
    padding: 64px;
    color: white;
    border-radius: 20px;
    border: 2px solid red;
}

.header-profile {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid red;
    padding: 0 40px 20px 40px;
}

.body-profile {
    padding: 12px 32px 12px 32px;
}

.avatar-profile {
    width: 20%;
    display: flex;
    justify-content: left;
}

.button-profile {
    display: flex;
    justify-content: end;
    margin-right: 40px;
}