.store {
    margin-top: 48px;
    overflow: auto;
}

.label {
    text-align: center;
    background-color: brown;
}

.selling {
    display: flex;
}

.category {
    height:100vh;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    background-color: #0F8E04;
    flex: 1 1 300px;
}

.itemlist {
    display: flex;
    flex-wrap: wrap;
    background-color: #3D0000;
    flex: 1 1 1500px;
    overflow: auto;
}

.itemimage > img {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.item {
    width: 300px;
    height:300px;
    margin: 0px 0px 0px 20px;
    background-color: white;
}

.iteminfo {
    background-color: #0F8E04;
}

.pagination {
    color: white;
}